dist/
node_modules/


# copied from TOPdesk gitignore
# Eclipse project settings folders
**/.settings

# Eclipse classpath settings
**/.classpath

# Eclipse metadata
**/.metadata

# Eclipse project settings
**/.project


# IntelliJ .iml files
**/*.iml

# IntelliJ .idea folder
**/.idea


# .bak files
**/*.bak

# Pom versionBackups
**/pom.xml.versionsBackup

# Old files
**/*.old

# .orig files, may be left over after merging
**/*.orig


# Log folders
**/log
# but not log packages:
!**/src/**/log

# Log files
**/*.log

# staging folders for the installer
#**/staging

# Maven build folder
**/target
# but not 'target' packages
!**/src/**/target

# Database files
**/*.db